[Unit]
Description=ShadowSocks - An socks5 proxy
Wants=network-online.target
After=network-online.target
Before=kcptun.service

[Service]
Type=simple
PIDFile=/run/shadowsocks.pid
ExecStart=sslocal -c /etc/ics-gfw/config.json -d start
ExecStop=sslocal -d stop
Restart=sslocal -c /etc/ics-gfw/config.json -d restart

[Install]
WantedBy=multi-user.target kcptun.service
